name: Django Deployment
on:
  push:
    branches:
      - 'main'
env:
  DJANGO_PROJECT_PATH: "/home/esolathomas/ws/sola_thomas_website"
  GUNICORN_LOG_FILE: "/home/esolathomas/out/django.log"

jobs:
  deploy:
    runs-on: Deployment
    strategy:
      matrix:
        condition: ['start', 'restart']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python Environment
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      
      - name: Install Dependencies
        run: |
          cd ${{ github.workspace }}
          pip install -r requirements.txt
      
      - name: Set Up Django Settings
        run: |
          sed -i 's/DEBUG = True/DEBUG = False/' $DJANGO_PROJECT_PATH/sola_thomas_website/settings.py
      
      - name: Check Django Process Status
        id: check_process
        run: |
          if pgrep -f "gunicorn"; then
            echo "django_running=true" >> $GITHUB_ENV
          else
            echo "django_running=false" >> $GITHUB_ENV
          fi
      
      - name: Run Django Commands
        run: |
          python3 $DJANGO_PROJECT_PATH/manage.py migrate || echo "Error: Migration failed."
          python3 $DJANGO_PROJECT_PATH/manage.py collectstatic --noinput || echo "Error: Collectstatic failed."
          python3 $DJANGO_PROJECT_PATH/manage.py check --deploy || echo "Error: Check deploy failed."
      
      - name: Manage Gunicorn Service
        run: |
          if [[ "${{ matrix.condition }}" == 'restart' ]] || [[ "${{ env.django_running }}" == 'true' ]]; then
            pkill -f gunicorn || true  # Ignore error if Gunicorn is not running.
            echo "Restarting Gunicorn..."
          fi
          if [[ "${{ matrix.condition }}" == 'start' ]] && [[ "${{ env.django_running }}" == 'false' ]]; then
            echo "Starting Gunicorn..."
            gunicorn sola_thomas_website.wsgi:application --daemon --bind 0.0.0.0:8000 --log-file "${{ env.GUNICORN_LOG_FILE }}"
          fi
      
      - name: Health Check
        run: |
          bash /home/esolathomas/ws/scripts/liveness-test.sh
