name: Django Deployment
on:
  push:
    branches:
      - 'main'
env:
  PROJECT_PATH: "/home/esolathomas/ws"
  DJANGO_PROJECT_PATH: "/home/esolathomas/ws/sola_thomas_website"
  GUNICORN_LOG_FILE: "/home/esolathomas/out/django.log"

jobs:
  deploy:
    runs-on: Deployment
    steps:
      - name: Install Dependencies
        timeout-minutes: 3
        run: |
          cd $PROJECT_PATH
          pip install -r requirements.txt
      
      - name: Set Up Django Settings
        timeout-minutes: 1
        run: |
          sed -i 's/DEBUG = True/DEBUG = False/' $DJANGO_PROJECT_PATH/sola_thomas_website/settings.py
      
      - name: Check Django Process Status
        timeout-minutes: 1
        id: check_process
        run: |
          if pgrep -f "gunicorn"; then
            echo "django_running=true" >> $GITHUB_ENV
          else
            echo "django_running=false" >> $GITHUB_ENV
          fi
      
      - name: Run Django Commands
        timeout-minutes: 1
        run: |
          python3 $DJANGO_PROJECT_PATH/manage.py migrate
          python3 $DJANGO_PROJECT_PATH/manage.py collectstatic --noinput
          python3 $DJANGO_PROJECT_PATH/manage.py check --deploy
      
      - name: Manage Gunicorn Service
        timeout-minutes: 1
        run: |
          cd $DJANGO_PROJECT_PATH
          # Kill existing Gunicorn if running
          pkill -f gunicorn || true
          echo "Starting Gunicorn..."
          gunicorn sola_thomas_website.wsgi:application --daemon --bind 0.0.0.0:8000 --log-file "${{ env.GUNICORN_LOG_FILE }}"
      
      - name: Health Check
        timeout-minutes: 1
        run: |
          bash ${{ github.workspace }}/scripts/liveness-test.sh